<header>
  <div class="menu">
    <ul>
      [ &nbsp;
      <li><a href="{{ site.url }}" title="Home">home</a></li>
      <li><a href="{{ site.url }}/all" title="All">all</a></li>
      <li><a href="{{ site.url }}/rss" title="RSS Feed">rss</a></li>
      ] &nbsp;

      [ &nbsp;
      {% assign programming-page = site.pages | where: "name", "programming.md" | first %}
      <li><a href="{{ site.url }}/λ" title="{{ programming-page.title }}">/λ/</a></li>
      {% assign personal-page = site.pages | where: "name", "personal.md" | first %}
      <li><a href="{{ site.url }}/per" title="{{ personal-page.title }}">/per/</a></li>
      {% assign media-page = site.pages | where: "name", "media.md" | first %}
      <li><a href="{{ site.url }}/med" title="{{ media-page.title }}">/med/</a></li> 
      {% assign essay-page = site.pages | where: "name", "essay.md" | first %}
      <li><a href="{{ site.url }}/es" title="{{ essay-page.title }}">/es/</a></li>
      ] &nbsp;

    </ul>
  </div>

  <div>
    <h1>[ <span class="green">{{ site.title | flip_animate }}</span> ]: "<span class="">{{ site.motds | sample }}</span>"</h1>
    <div id="contact-container">
      <ul id="contact">
        <li>e-mail:  <span class="emph mono">{{ site.public_email }}</span></li>
        <li>github: <span class="emph mono">{{ site.github }}</span></li>
        <li>reading: <span class="emph mono">{{ site.current_book.title }}</span> by <span class="emph mono">{{ site.current_book.author }}</span></li>
      </ul>
    </div>
  </div>
</header>
